<div id="task_desc"> 
	<span class="task_id"></span> - <span class="task_label"><%= @task.label %></span>
	<% unless @task.label == 'main' %>
		<p>
		<span class='desc'><%= @task.desc %></span> 
		</p>
	<% end %> 
</div>

